<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" crossorigin=""href="./static/css/leaflet.css" />
<script src="./static/js/leaflet-src.js" crossorigin=""></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />
<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
<script>
var notifyConfig = {
  body: '酒精瓶地圖', // 設定內容
  icon: './static/image/bottle.ico', // 設定 icon
};

if (Notification.permission === 'default' || Notification.permission === 'undefined') {
  Notification.requestPermission(function(permission) {
    if (permission === 'granted') {
      // 使用者同意授權
      var notification = new Notification('您訂閱了酒精地圖', notifyConfig); // 建立通知
    }
  });
}

</script>

<style type="text/css">
    #map {
      height: 500px;
    }
</style>

</head>
<body>
    <div id="map" ></div>
<script>


        var Name = [];
		var Longitude = [];
        var Latitude = [];
        var Level=[];
        var Move=[];
        var StealTime=[];
        var jsonobj = null 


$.getJSON("/setT/", {}, function (r) { 
    jsonobj = r;        

    for (var num = 0; num <jsonobj.Name.length; num++) {  
        Name.push(jsonobj["Name"][num]);
        Longitude.push(parseInt(jsonobj["Longitude"][num]))
        Latitude.push(parseInt(jsonobj["Latitude"][num]))
        Level.push(parseInt(jsonobj["Level"][num]))
        Move.push(parseInt(jsonobj["Move"][num]))
        StealTime.push(parseInt(jsonobj["StealTime"][num]))
    }

    //window.alert(Move);

    
    




			
var map = L.map('map', { zoom: 13}).setView([24.745303,121.744979], 256);

L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
			  attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
			}).addTo(map);
var normal = L.icon({
    iconUrl: './static/image/bottle-cc-removebg-preview.png',


    iconSize:     [50, 50], // size of the icon

    iconAnchor:   [25, 50], // point of the icon which will correspond to marker's location

    popupAnchor:  [0, 0] // point from which the popup should open relative to the iconAnchor
});
var need = L.icon({
    iconUrl: './static/image/water-cc-removebg-preview.png',


    iconSize:     [50, 50], // size of the icon

    iconAnchor:   [25, 50], // point of the icon which will correspond to marker's location

    popupAnchor:  [0, 0] // point from which the popup should open relative to the iconAnchor
});
var steal = L.icon({
    iconUrl: './static/image/steal-cc-removebg-preview.png',


    iconSize:     [50, 50], // size of the icon

    iconAnchor:   [25, 50], // point of the icon which will correspond to marker's location

    popupAnchor:  [0, 0] // point from which the popup should open relative to the iconAnchor
});
/*
			L.marker([ 24.745303,121.744979 ], {icon: greenIcon}).addTo(map)
			 .bindPopup('格致大樓')
			 .openPopup();
			L.marker([24.746371, 121.747473],{icon: greenIcon}).addTo(map)
			 .bindPopup('會議室1')
			 .openPopup();
			L.marker([24.745994, 121.747465],{icon: greenIcon}).addTo(map)
			 .bindPopup('會議室2')
			 .openPopup();
			L.marker([24.746371, 121.746847],{icon: greenIcon}).addTo(map)
			 .bindPopup('會議室3')
			 .openPopup();*/
             var markers = L.markerClusterGroup();

             for (var num = 0; num <jsonobj.Name.length; num++) 
             {  
                
                if(jsonobj["Move"][num]==1)
                {
                  var marker = L.marker([ jsonobj["Latitude"][num],jsonobj["Longitude"][num] ], {icon: steal}).addTo(map)
			 .bindPopup(jsonobj["Name"][num]+"<br> 酒精瓶被移動了 <br>最後連線時間<br>"+jsonobj["StealTime"][num])
			 .openPopup();
             markers.addLayer(marker);
             var notification2 = new Notification(jsonobj["Name"][num]+'的酒精瓶被移動了', notifyConfig);
                }else{





                      if(jsonobj["Level"][num]>20){
                          var marker = L.marker([ jsonobj["Latitude"][num],jsonobj["Longitude"][num] ], {icon: normal}).addTo(map)
            .bindPopup(jsonobj["Name"][num]+"<br> 剩餘酒精量"+jsonobj["Level"][num]+"%")
            .openPopup();
                  markers.addLayer(marker);
                  
                      }else{
                          var marker = L.marker([ jsonobj["Latitude"][num],jsonobj["Longitude"][num] ], {icon: need}).addTo(map)
            .bindPopup(jsonobj["Name"][num]+"<br> 剩餘酒精量"+jsonobj["Level"][num]+"%")
            .openPopup();
                  markers.addLayer(marker);
                  
                      }

                      
        
                }


        
            }

            map.addLayer(markers);

		
		
		/*for (var i = 0; i < addressPoints.length; i++) {
			var a = addressPoints[i];
			var title = a[2];
			var marker = L.marker(new L.LatLng(a[0], a[1]), { title: title });
			marker.bindPopup(title);
			markers.addLayer(marker);
		}

		map.addLayer(markers);*/

    
    
});
</script>
</body>
</html>